{{> genericHeader }}
<body class="profile-page">
    {{#if session.user }}
      {{> navRegistered }}
    {{/if}}
    <div class="wrapper">
        <div class="section">
          {{#if session.user }}
            {{> pageMyProfile }}
          {{/if}}
        </div>
        {{> genericFooter }}
    </div>
</body>
{{> scripts }}
</html>
