<div class="container">
  <div class="why-hackerhive">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
          <h2 class="title">Learning with HackerHive</h2>
      </div>
    </div>
    <div class="row text-center why-features">
      <div class="col-md-3">
        <i class="ion-university homepage-why-icon"></i>
        <h5 class="description">Take programming courses</h5>
      </div>
      <div class="col-md-3">
        <i class="ion-android-create homepage-why-icon"></i>
        <h5 class="description">Take programming exams</h5>
      </div>
      <div class="col-md-3">
        <i class="ion-ios-people homepage-why-icon"></i>
        <h5 class="description">Join community discussions</h5>
      </div>
      <div class="col-md-3">
        <i class="ion-ios-lightbulb homepage-why-icon"></i>
        <h5 class="description">Participate in group projects</h5>
      </div>
    </div>
  </div>
  <div class="top-courses">
    <div class="course-category">
      <h3>C++ Programming Courses</h3>
      <div class="container-fluid">
            <div class="row flex-row flex-nowrap courses">
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="course-category">
      <h3>Java Programming Courses</h3>
      <div class="container-fluid">
            <div class="row flex-row flex-nowrap courses">
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card card-block">
                    <img src="https://udemy-images.udemy.com/course/240x135/625204_436a_2.jpg" alt="Card image cap">
                    <h5 class="course-title card-title text-center">Getting started with Laravel 5.4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-block">Take course</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
