<div class="page-header page-header-small" filter-color="orange">
    <!-- <div class="page-header-image" data-parallax="true" style="background-image: url('img/bg5.jpg');">
    </div> -->
    <div class="page-header-video-container">
      <video loop muted autoplay poster="img/videoframe.jpg" class="page-header-video">
          <source src="public/video/background.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container">
        <div class="content-center">
            <h2>Advance your career. Take courses, online.</h2>
            <div class="home-search-container">
              <div class="row">
                <div class="col-sm-8 offset-sm-2 home-search">
                    <div class="form-group form-group-no-border">
                        <input type="text" value="" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                      <button class="btn btn-round btn-primary">Search</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
