<div class="registered-tabs">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center " onclick="location.href='/';" style="cursor: pointer;">
        <h5 class="tab-title">
          <i class="now-ui-icons design_bullet-list-67 tab-icon"></i>
            Browse Courses
        </h5>
      </div>
      <div class="col-md-3 text-center" onclick="location.href='/mycourses';" style="cursor: pointer;">
        <h5 class="tab-title">
          <i class="now-ui-icons education_glasses tab-icon"></i>
          My Courses
        </h5>
      </div>
      <div class="col-md-3 text-center" onclick="location.href='/community';" style="cursor: pointer;">
        <h5 class="tab-title">
          <i class="now-ui-icons business_bulb-63 tab-icon"></i>
          Community
        </h5>
      </div>
      <div class="col-md-3 text-center" onclick="location.href='/myprofile';" style="cursor: pointer;">
        <h5 class="tab-title">
          <i class="now-ui-icons users_circle-08 tab-icon"></i>
          My Profile
        </h5>
      </div>
    </div>
  </div>
</div>
